		body {

			/* Ubicaci칩n de la imagen */

			background-image: url(assets/img/error.jpg);

/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualizaci칩n para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala autom치ticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se est치 cargando la imagen

de fondo o si hay problemas para cargarla */

background-color: #66999;

}

@media only screen and (max-width: 767px) {

	body {
		background-image: linear-gradient(295deg, #50266e 0, #3c1764 25%, #240658 50%, #03004d 75%, #000043 100%);
	}