
@font-face{
	font-family:'cookie';
	src:url('../fonts/Cookie.ttf');
		
}

@font-face{
	font-family:'Muli1';
	src:url('../fonts/Muli.ttf');
		
}

@font-face{
	font-family:'Muli2';
	src:url('../fonts/Muli-Bold.ttf');
		
}

@font-face{
	font-family:'Muli3';
	src:url('../fonts/Muli-BoldItalic.ttf');
		
}

@font-face{
	font-family:'Muli4';
	src:url('../fonts/Muli-ExtraLight.ttf');
		
}

@font-face{
	font-family:'Muli5';
	src:url('../fonts/Muli-ExtraLightItalic.ttf');
		
}

@font-face{
	font-family:'Muli6';
	src:url('../fonts/Muli-Italic.ttf');
		
}

@font-face{
	font-family:'Muli7';
	src:url('../fonts/Muli-Light.ttf');
		
}

@font-face{
	font-family: 'Muli8';
	src:url('../fonts/Muli-LightItalic.ttf');
		
}

@font-face{
	font-family:'Muli9';
	src:url('../fonts/Muli-SemiBold.ttf');
		
}

@font-face{
	font-family:'Muli10';
	src:url('../fonts/Muli-Semi-BoldItalic.ttf');
		
}


